body {
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

label {
    padding-right: 1em;    
}

.view {
    display: none;
    height: 100vh;
    overflow-y: auto;
    margin: 1em;
    transition: visibility 10s;
}

.table-row {
    border: 1px solid black;
    margin: 2px;
    background: lightgray;
    padding: 10px;
    display: flex;
}

.line {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.table-cell {
	padding: 10px;
}

.error {
    display: none;
    color: red;
    font-size: 2em;
}

.large {
    font-size: 5em;
}

.big {
    font-size: 3em;
}

.medium {
    font-size: 2em;
}

.small {
    font-size: 1em;
}

.half-width {
    width: 50%;
}

.indent {
    padding-left: 2em;
}

button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.template {
    display: none;
}

.location {
    color: green;
}

.quantity {
    color: #EF53A9;
}

.box {
    color: #58B1B7;
}

.notes {
    font-size: 1.5em;
    border: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
    text-align: left;
    min-height: 4em;
    background: yellow;
    color: blue;
}

.notes:empty {
    background: white;
    border: none;
}

button[data-action="confirm"] {
    min-width: 12em;
    background: #4ab1ed;
    color: white;
}

button[data-action="options"] {
    max-width: 3em;
}

.blocker {
	display: none;
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	right: auto;
	bottom: auto;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: .90;
}

.deletion {
    position: absolute;
    right: 16px;
    bottom: 16px;
    background: red;
    color: white;
}

